.cellules {
  background-color: #00ff4cb7;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 8px;
}

.cellules h6 {
  font-family: sans-serif;
  font-size: 11px;
}
