.contacts {
  margin-top: 55px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 18px;
  background-color: black;
  color: white;
  text-align: center;
}
.contacts h4 {
  padding: 5px;
  margin-right: 70px;
  margin-left: 70px;
  margin-bottom: 15px;
  font-size: 25px;
  font-family: sans-serif;
  border-bottom: 1px solid white;
}

.contacts h6 {
  font-size: 13px;
}
