.filter .classes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: sans-serif;
  background-color: black;
  color: white;
  border-radius: 18px;
  padding-left: 11px;
  padding-right: 11px;
  font-size: 15px;
}
