.button-switch input {
  display: block;
  opacity: 0;
}

.button-switch label {
  position: relative;
  width: 32px;
  bottom: 5px;
  height: 19px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  border: 1px black solid;
}

.button-switch label:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 1px;
  width: 15px;
  height: 15px;
  background: #000000;
  border-radius: 50%;
}

.button-switch input:checked + label {
  background: #00ff4e;
}
.button-switch input:checked + label:after {
  left: auto;
  right: 2px;
}
