.temps {
  margin-top: 40px;
  border-radius: 18px;
  border: 3px solid #000;
  background: #fff;
  box-shadow: 9px 11px 0px 0px #000;
}

.temps .title {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid#000;
}

.temps h2 {
  font-family: sans-serif;
  padding-left: 58px;
  padding-right: 58px;
  padding-top: 25px;
  padding-bottom: 20px;
  border-right: 3px solid#000;
  text-align: center;
}

.type-container {
  display: flex;
  flex-direction: row;
}

.selecteur {
}
