.verbes {
  border-radius: 18px;
  border: 3px solid #000;
  background: #fff;
  box-shadow: 9px 11px 0px 0px #000;
  display: flex;
  flex-direction: row;
}

.verbes h2 {
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  width: max-content;
  margin-bottom: 5px;
  margin-top: 20px;
}

.verbes .verbes-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-left: 3px solid#000;
  padding: 10px;
}

.verbe-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 49px;
  padding-left: 49px;
}

.verbe-text input {
  border: 2px solid;
  border-radius: 10px;
  padding: 6px 10px 6px 10px;
  margin-top: 7px;
  background-color: #e2e2e2;
}
